@model IEnumerable<BDnew_class.Models.Crystal>

@{
    ViewData["Title"] = "Index";
}
    <body class="backforlist">
        <h1>Инкрустация</h1>

        <p>
            <a class="btn btn-outline-secondary" asp-action="Create">Create New</a>
        </p>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th class="border border-dark">
                        @Html.DisplayNameFor(model => model.CrystalName)
                    </th>
                    <th class="border border-dark">
                        @Html.DisplayNameFor(model => model.CrystalDescription)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="border border-dark">
                            @Html.DisplayFor(modelItem => item.CrystalName)
                        </td>
                        <td class="border border-dark">
                            @Html.DisplayFor(modelItem => item.CrystalDescription)
                        </td>
                        <td class="border border-dark">
                            <a asp-action="Edit" asp-route-id="@item.IdCrystal">Edit</a>

                            <a asp-action="Delete" asp-route-id="@item.IdCrystal">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>